*{ 
    margin: 0 ;
    padding : 0;
    font-family:'Poppins', sans-serif ;
    box-sizing: border-box;
}
.bigContainer{
    width: 100%;
    min-height: 100vh;
    padding :10px;
    background-color: #063f47;

}
.container{
    width:100%;
    max-width: 600px;
    background-color:#e1e5e6;
    padding: 40px 30px 70px;
    margin:100px auto 20px;
    border-radius: 10px;
}
.container h2 {
    color:black;
    display: flex; 
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background:rgb(217, 212, 212);
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    background:transparent;
    border: none;
    outline:none;
    padding:8px;
    font-weight: 15px;
    border-radius: 5px;

}
#addBtn{
    border:none;
    outline:none;
    padding: 16px 32px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 18px;
    margin:auto;
    background:#063f47;
    color: azure;
}
.list_Element{
    display: flex;
}
ul li{
    list-style:none;
    font-size: 17px;
    padding : 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    color:#063f47;
    position: relative;
    word-break: break-all;
    margin-right: 40px;
    word-break: break-all;
    align-items: center;
    min-height: 40px;
}

 
 ul li::before{
     content:'';
     position: absolute;
     height:24px;
     width:22px;
     border-radius: 50%;
     background-image: url(./uncheck-32.png);
     background-position: center;
     background-size: cover;
     top:7px;
     left:8px;
     
 }
 ul li.checked{
    text-decoration: line-through;
    color: rgb(251, 46, 46);
 }

ul li.checked::before{
    background-image: url(./icons8-check-30.png);
}
ul li span{
    position:absolute;
    right:10px;
    top:5px;
    width:40px;
    height:24px;
    font-size: 22px;
    color: rgb(34, 33, 33);
    line-height: 38px;
    text-align: center;
    
    
}
ul li span:hover{
    background: rgb(232, 90, 77);
    border-radius:80%;
    
}

#reset_button{
    margin:0 auto;
    width:90px;
    box-shadow:0 0 5px;
    background-color:#063f47;
    font-size:15px; 
    color: azure;
    border-radius: 10px;
    padding:10px 10px;
    
}
#reset_button:hover{
    background:#eb4c24;

}




        
    